# Configuration file

disabledblocks {
    B:Reika.ChromatiCraft.Base.BlockChromaTile=false
    B:Reika.ChromatiCraft.Block.BlockCrystalHive=false
    B:Reika.ChromatiCraft.Block.BlockPylonStructure=false
    B:Reika.ChromatiCraft.Block.Dye.BlockDye=false
    B:Reika.ChromatiCraft.Block.Dye.BlockDyeGrass=false
    B:Reika.ElectriCraft.Blocks.BlockElectriOre=false
    B:Reika.GeoStrata.Blocks.BlockRockDeco=false
    B:Reika.GeoStrata.Blocks.BlockShapedRock=false
    B:Reika.GeoStrata.Blocks.BlockSmooth=false
    B:Reika.ReactorCraft.Blocks.BlockFluorite=false
    B:Reika.ReactorCraft.Blocks.BlockFluoriteOre=false
    B:Reika.ReactorCraft.Blocks.BlockReactorMat=false
    B:Reika.ReactorCraft.Blocks.BlockReactorOre=false
    B:Reika.ReactorCraft.Blocks.Multi.BlockFlywheelMulti=false
    B:Reika.ReactorCraft.Blocks.Multi.BlockHeaterMulti=false
    B:Reika.ReactorCraft.Blocks.Multi.BlockInjectorMulti=false
    B:Reika.RotaryCraft.Blocks.BlockDeco=false
    B:Reika.RotaryCraft.Blocks.BlockIMachine=false
    B:WayofTime.alchemicalWizardry.common.block.ArmourForge=false
    B:WayofTime.alchemicalWizardry.common.block.BlockDemonPortal=false
    B:WayofTime.alchemicalWizardry.common.block.BlockHomHeart=false
    B:WayofTime.alchemicalWizardry.common.block.BlockMasterStone=false
    B:WayofTime.alchemicalWizardry.common.block.BlockSchematicSaver=false
    B:WayofTime.alchemicalWizardry.common.block.BlockSocket=false
    B:WayofTime.alchemicalWizardry.common.block.BlockTeleposer=false
    B:WayofTime.alchemicalWizardry.common.block.BloodRune=false
    B:WayofTime.alchemicalWizardry.common.block.BloodStoneBrick=false
    B:WayofTime.alchemicalWizardry.common.block.EfficiencyRune=false
    B:WayofTime.alchemicalWizardry.common.block.ImperfectRitualStone=false
    B:WayofTime.alchemicalWizardry.common.block.LargeBloodStoneBrick=false
    B:WayofTime.alchemicalWizardry.common.block.RitualStone=false
    B:WayofTime.alchemicalWizardry.common.block.RuneOfSacrifice=false
    B:WayofTime.alchemicalWizardry.common.block.RuneOfSelfSacrifice=false
    B:WayofTime.alchemicalWizardry.common.block.SpeedRune=false
    B:advsolar.common.blocks.BlockAdvSolarPanel=false
    B:appeng.block.solids.BlockFluix=false
    B:appeng.block.solids.BlockQuartz=false
    B:appeng.block.solids.BlockQuartzChiseled=false
    B:appeng.block.solids.BlockSkyStone=false
    B:aroma1997.core.block.AromicBlock=false
    B:aroma1997.world.PortalFrame=false
    B:aroma1997.world.StickyOre=false
    B:biomesoplenty.common.blocks.BlockAsh=false
    B:biomesoplenty.common.blocks.BlockBOPColorizedLeaves=false
    B:biomesoplenty.common.blocks.BlockBOPGems=false
    B:biomesoplenty.common.blocks.BlockBOPGeneric=false
    B:biomesoplenty.common.blocks.BlockBOPGrass=false
    B:biomesoplenty.common.blocks.BlockBOPLeaves=false
    B:biomesoplenty.common.blocks.BlockBOPNewDirt=false
    B:biomesoplenty.common.blocks.BlockBOPPlank=false
    B:biomesoplenty.common.blocks.BlockBOPRocks=false
    B:biomesoplenty.common.blocks.BlockBOPSlab=false
    B:biomesoplenty.common.blocks.BlockFlesh=false
    B:biomesoplenty.common.blocks.BlockHive=false
    B:biomesoplenty.common.blocks.BlockLongGrass=false
    B:biomesoplenty.common.blocks.BlockMud=false
    B:biomesoplenty.common.blocks.BlockOriginGrass=false
    B:biomesoplenty.common.blocks.BlockOvergrownNetherrack=false
    B:buildcraft.builders.BlockBlueprintLibrary=false
    B:buildcraft.builders.BlockBuildTool=false
    B:buildcraft.core.BlockSpring=false
    B:buildcraft.energy.BlockEnergyConverter=false
    B:buildcraft.factory.BlockAutoWorkbench=false
    B:buildcraft.factory.BlockFloodGate=false
    B:buildcraft.factory.BlockMiningWell=false
    B:buildcraft.factory.BlockPump=false
    B:buildcraft.transport.BlockFilteredBuffer=false
    B:ckathode.archimedes.blockitem.BlockAS=false
    B:ckathode.archimedes.blockitem.BlockEngine=false
    B:ckathode.archimedes.blockitem.BlockHelm=false
    B:com.emoniph.witchery.blocks.BlockAltar=false
    B:com.emoniph.witchery.blocks.BlockForce=false
    B:com.emoniph.witchery.blocks.BlockWitchWood=false
    B:com.emoniph.witchery.blocks.BlockWitchWoodSlab=false
    B:com.fireball1725.ae2tech.blocks.machines.BlockEnergeticIncinerator=false
    B:com.mark719.magicalcrops.blocks.BlockBlastBricks=false
    B:com.mark719.magicalcrops.blocks.BlockBlastHardenedClay=false
    B:com.mark719.magicalcrops.blocks.BlockBlastWoodPlanks=false
    B:com.mark719.magicalcrops.blocks.BlockBlastWool=false
    B:com.mark719.magicalcrops.blocks.BlockEssenceBlocks=false
    B:com.mark719.magicalcrops.blocks.BlockEssenceBricks=false
    B:com.mark719.magicalcrops.blocks.BlockEssenceLamps=false
    B:com.mark719.magicalcrops.blocks.BlockEssenceOre=false
    B:com.mark719.magicalcrops.blocks.BlockEssenceOreNether=false
    B:com.mark719.magicalcrops.blocks.BlockTintedCarvedStoneBrick=false
    B:com.mark719.magicalcrops.blocks.BlockTintedSmallBrick=false
    B:com.mark719.magicalcrops.blocks.BlockTintedStoneBrick=false
    B:com.mark719.magicalcrops.blocks.BlockTintedWoodPlank=false
    B:com.rwtema.extrautils.block.BlockAngelBlock=false
    B:com.rwtema.extrautils.block.BlockBedrockium=false
    B:com.rwtema.extrautils.block.BlockCobblestoneCompressed=false
    B:com.rwtema.extrautils.block.BlockCursedEarth=false
    B:com.rwtema.extrautils.block.BlockPureLove=false
    B:com.rwtema.extrautils.block.BlockTimer=false
    B:com.rwtema.extrautils.block.BlockTradingPost=false
    B:com.rwtema.extrautils.tileentity.enderquarry.BlockEnderQuarry=false
    B:com.yogpc.mc_lib.BlockWorkbench=false
    B:com.yogpc.qp.BlockBreaker=false
    B:com.yogpc.qp.BlockInfMJSrc=false
    B:com.yogpc.qp.BlockMiningWell=false
    B:com.yogpc.qp.BlockMover=false
    B:com.yogpc.qp.BlockPlacer=false
    B:com.yogpc.qp.BlockPump=false
    B:com.yogpc.qp.BlockQuarry=false
    B:cpw.mods.compactsolars.BlockCompactSolar=false
    B:crazypants.enderio.block.BlockReinforcedObsidian=false
    B:crazypants.enderio.conduit.facade.BlockConduitFacade=false
    B:crazypants.enderio.machine.painter.BlockPaintedSlab=false
    B:crazypants.enderio.material.BlockIngotStorage=false
    B:de.thatsich.minecraft.intellie.applied.aerodynamics.proxy.module.bench.WorkbenchBlock=false
    B:dmillerw.remoteio.block.BlockIntelligentWorkbench=false
    B:dmillerw.remoteio.block.BlockMachine=false
    B:doc.mods.dynamictanks.block.BlockModifier=false
    B:doc.mods.dynamictanks.block.BlockRemoteExtension=false
    B:enhancedportals.block.BlockDecorBorderedQuartz=false
    B:enhancedportals.block.BlockDecorEnderInfusedMetal=false
    B:enhancedportals.block.BlockFrame=false
    B:enhancedportals.block.BlockStabilizer=false
    B:enhancedportals.block.BlockStabilizerEmpty=false
    B:erogenousbeef.bigreactors.common.block.BlockBRMetal=false
    B:erogenousbeef.bigreactors.common.block.BlockBROre=false
    B:erogenousbeef.bigreactors.common.multiblock.block.BlockMBCreativePart=false
    B:erogenousbeef.bigreactors.common.multiblock.block.BlockReactorPart=false
    B:erogenousbeef.bigreactors.common.multiblock.block.BlockReactorRedstonePort=false
    B:erogenousbeef.bigreactors.common.multiblock.block.BlockTurbinePart=false
    B:factorization.common.BlockResource=false
    B:"factorization.common.Registry$1NotchBlock"=false
    B:factorization.darkiron.BlockDarkIronOre=false
    B:fi.dy.masa.enderutilities.block.BlockEnderFurnace=false
    B:glassmaker.extratic.metals.SolidMetalBlock=false
    B:gravestone.block.BlockGSBoneBlock=false
    B:gravestone.block.BlockGSTrap=false
    B:gregtech.common.blocks.GT_Block_Casings1=false
    B:gregtech.common.blocks.GT_Block_Casings2=false
    B:gregtech.common.blocks.GT_Block_Casings3=false
    B:gregtech.common.blocks.GT_Block_Casings4=false
    B:gregtech.common.blocks.GT_Block_Concretes=false
    B:gregtech.common.blocks.GT_Block_Granites=false
    B:growthcraft.bamboo.BlockBamboo=false
    B:hardcorequesting.blocks.BlockDelivery=false
    B:hardcorequesting.blocks.BlockTracker=false
    B:ic2.core.block.BlockMetaData=false
    B:ic2.core.block.BlockMetal=false
    B:ic2.core.block.BlockRubWood=false
    B:lumien.randomthings.Blocks.BlockAdvancedFluidDisplay=false
    B:lumien.randomthings.Blocks.BlockCarpentryBench=false
    B:lumien.randomthings.Blocks.BlockCreativePlayerInterface=false
    B:lumien.randomthings.Blocks.BlockDyeingMachine=false
    B:lumien.randomthings.Blocks.BlockFertilizedDirt=false
    B:lumien.randomthings.Blocks.BlockFluidDisplay=false
    B:lumien.randomthings.Blocks.BlockImbuingStation=false
    B:lumien.randomthings.Blocks.BlockNotificationInterface=false
    B:lumien.randomthings.Blocks.BlockOnlineDetector=false
    B:lumien.randomthings.Blocks.BlockPlayerInterface=false
    B:lycanite.lycanitesmobs.junglemobs.block.BlockPropolis=false
    B:lycanite.lycanitesmobs.junglemobs.block.BlockVeswax=false
    B:mekanism.common.block.BlockCardboardBox=false
    B:mekanism.common.block.BlockOre=false
    B:mekanism.common.block.BlockPlastic=false
    B:mekanism.common.block.BlockSalt=false
    B:mods.immibis.am2.BlockAM2=false
    B:mods.immibis.am2.arrays.ArrayControllerBlock=false
    B:mods.immibis.am2.arrays.ArrayGeneratorBlock=false
    B:mods.immibis.autofood.AutoFoodMachineBlock=false
    B:mods.immibis.chunkloader.BlockChunkLoader=false
    B:mods.immibis.tubestuff.BlockStorage=false
    B:mods.natura.blocks.GrassBlock=false
    B:mods.natura.blocks.nether.HeatSand=false
    B:mods.natura.blocks.nether.TaintedSoil=false
    B:mods.natura.blocks.tech.NetherrackFurnaceBlock=false
    B:mods.natura.blocks.tech.RespawnObelisk=false
    B:mods.natura.blocks.trees.DarkTreeBlock=false
    B:mods.natura.blocks.trees.Planks=false
    B:mods.natura.blocks.trees.SimpleLog=false
    B:mods.railcraft.common.blocks.aesthetics.brick.BlockBrick=false
    B:"mods.railcraft.common.blocks.aesthetics.brick.BlockBrick$BlockNetherBrick"=false
    B:mods.railcraft.common.blocks.aesthetics.cube.BlockCube=false
    B:mods.railcraft.common.blocks.detector.BlockDetector=false
    B:mods.railcraft.common.blocks.machine.BlockMachine=false
    B:mods.railcraft.common.blocks.ore.BlockWorldLogic=false
    B:mrtjp.projectred.exploration.BlockDecoratives=false
    B:mrtjp.projectred.exploration.BlockOre=false
    B:mrtjp.projectred.illumination.BlockLamp=false
    B:net.minecraft.block.Block=false
    B:net.minecraft.block.BlockBookshelf=false
    B:net.minecraft.block.BlockClay=false
    B:net.minecraft.block.BlockColored=false
    B:net.minecraft.block.BlockCommandBlock=false
    B:net.minecraft.block.BlockCompressed=false
    B:net.minecraft.block.BlockCompressedPowered=false
    B:net.minecraft.block.BlockDirt=false
    B:net.minecraft.block.BlockDispenser=false
    B:net.minecraft.block.BlockDropper=false
    B:net.minecraft.block.BlockFurnace=false
    B:net.minecraft.block.BlockGlowstone=false
    B:net.minecraft.block.BlockGrass=false
    B:net.minecraft.block.BlockGravel=false
    B:net.minecraft.block.BlockHardenedClay=false
    B:net.minecraft.block.BlockHugeMushroom=false
    B:net.minecraft.block.BlockJukebox=false
    B:net.minecraft.block.BlockMelon=false
    B:net.minecraft.block.BlockMycelium=false
    B:net.minecraft.block.BlockNetherrack=false
    B:net.minecraft.block.BlockNewLeaf=false
    B:net.minecraft.block.BlockNote=false
    B:net.minecraft.block.BlockObsidian=false
    B:net.minecraft.block.BlockOldLeaf=false
    B:net.minecraft.block.BlockOre=false
    B:net.minecraft.block.BlockPackedIce=false
    B:net.minecraft.block.BlockPumpkin=false
    B:net.minecraft.block.BlockRedstoneLight=false
    B:net.minecraft.block.BlockRedstoneOre=false
    B:net.minecraft.block.BlockSand=false
    B:net.minecraft.block.BlockSandStone=false
    B:net.minecraft.block.BlockSilverfish=false
    B:net.minecraft.block.BlockSnowBlock=false
    B:net.minecraft.block.BlockSoulSand=false
    B:net.minecraft.block.BlockSponge=false
    B:net.minecraft.block.BlockStone=false
    B:net.minecraft.block.BlockStoneBrick=false
    B:net.minecraft.block.BlockStoneSlab=false
    B:net.minecraft.block.BlockTNT=false
    B:net.minecraft.block.BlockWood=false
    B:net.minecraft.block.BlockWoodSlab=false
    B:net.minecraft.block.BlockWorkbench=false
    B:noppes.npcs.blocks.BlockNpcRedstone=false
    B:noppes.npcs.blocks.BlockPlaceholder=false
    B:noppes.npcs.blocks.BlockWaypoint=false
    B:pneumaticCraft.common.block.BlockAerialInterface=false
    B:pneumaticCraft.common.block.BlockPressureChamberValve=false
    B:"pneumaticCraft.common.block.Blockss$HelperBlock"=false
    B:powercrystals.minefactoryreloaded.block.BlockFactoryMachine=false
    B:powercrystals.minefactoryreloaded.block.BlockRubberLeaves=false
    B:powercrystals.minefactoryreloaded.block.decor.BlockDecorativeBricks=false
    B:powercrystals.minefactoryreloaded.block.decor.BlockDecorativeStone=false
    B:powercrystals.minefactoryreloaded.block.decor.BlockFactoryDecoration=false
    B:powercrystals.minefactoryreloaded.block.decor.BlockFactoryPlastic=false
    B:powercrystals.minefactoryreloaded.block.transport.BlockFactoryRoad=false
    B:"powercrystals.netherores.NetherOresCore$1"=false
    B:powercrystals.netherores.ores.BlockNetherOres=false
    B:powercrystals.netherores.world.BlockHellfish=false
    B:powercrystals.powerconverters.common.BlockPowerConverterCommon=false
    B:powercrystals.powerconverters.power.systems.buildcraft.BlockBuildCraft=false
    B:powercrystals.powerconverters.power.systems.factorization.BlockFactorization=false
    B:powercrystals.powerconverters.power.systems.gt.BlockGregTech=false
    B:powercrystals.powerconverters.power.systems.ic2.BlockIndustrialCraft=false
    B:powercrystals.powerconverters.power.systems.rf.BlockRF=false
    B:powercrystals.powerconverters.power.systems.steam.BlockSteam=false
    B:redstonearsenal.block.BlockStorage=false
    B:shedar.mods.ic2.nuclearcontrol.blocks.BlockNuclearControlLight=false
    B:tabularasa.BlockRasa=false
    B:tconstruct.blocks.slime.SlimeGel=false
    B:tconstruct.blocks.slime.SlimeGrass=false
    B:tconstruct.smeltery.blocks.GlueBlock=false
    B:tconstruct.smeltery.blocks.MetalOre=false
    B:tconstruct.smeltery.blocks.SpeedBlock=false
    B:tconstruct.tools.blocks.MultiBrick=false
    B:tconstruct.tools.blocks.MultiBrickFancy=false
    B:tconstruct.world.blocks.GravelOre=false
    B:tconstruct.world.blocks.MeatBlock=false
    B:tconstruct.world.blocks.SlimeExplosive=false
    B:tconstruct.world.blocks.SoilBlock=false
    B:tconstruct.world.blocks.TMetalBlock=false
    B:thaumcraft.common.blocks.BlockCosmeticSolid=false
    B:thaumcraft.common.blocks.BlockTaint=false
    B:thaumic.tinkerer.common.block.BlockAspectAnalyzer=false
    B:thaumic.tinkerer.common.block.BlockGolemConnector=false
    B:thaumic.tinkerer.common.block.quartz.BlockDarkQuartzSlab=false
    B:thermalexpansion.block.cache.BlockCache=false
    B:thermalexpansion.block.device.BlockDevice=false
    B:thermalexpansion.block.simple.BlockRockwool=false
    B:thermalfoundation.block.BlockOre=false
    B:thermalfoundation.block.BlockStorage=false
    B:tuhljin.automagy.blocks.BlockEntitySignal=false
    B:tuhljin.automagy.blocks.BlockTally=false
    B:tuhljin.automagy.blocks.BlockVisReader=false
    B:twilightforest.block.BlockTFAuroraBrick=false
    B:twilightforest.block.BlockTFAuroraSlab=false
    B:twilightforest.block.BlockTFDarkLeaves=false
    B:twilightforest.block.BlockTFDeadrock=false
    B:twilightforest.block.BlockTFFireJet=false
    B:twilightforest.block.BlockTFFluffyCloud=false
    B:twilightforest.block.BlockTFGiantCobble=false
    B:twilightforest.block.BlockTFGiantLog=false
    B:twilightforest.block.BlockTFGiantObsidian=false
    B:twilightforest.block.BlockTFHedge=false
    B:twilightforest.block.BlockTFHugeGloomBlock=false
    B:twilightforest.block.BlockTFHugeStalk=false
    B:twilightforest.block.BlockTFMazestone=false
    B:twilightforest.block.BlockTFRoots=false
    B:twilightforest.block.BlockTFShield=false
    B:twilightforest.block.BlockTFTowerDevice=false
    B:twilightforest.block.BlockTFTowerWood=false
    B:twilightforest.block.BlockTFTrollSteinn=false
    B:twilightforest.block.BlockTFUncraftingTable=false
    B:twilightforest.block.BlockTFUnderBrick=false
    B:vazkii.botania.common.block.BlockAlchemyCatalyst=false
    B:vazkii.botania.common.block.BlockAlfPortal=false
    B:vazkii.botania.common.block.BlockConjurationCatalyst=false
    B:vazkii.botania.common.block.BlockDistributor=false
    B:vazkii.botania.common.block.BlockDreamwood=false
    B:vazkii.botania.common.block.BlockEnderEye=false
    B:vazkii.botania.common.block.BlockLivingrock=false
    B:vazkii.botania.common.block.BlockLivingwood=false
    B:vazkii.botania.common.block.BlockManaDetector=false
    B:vazkii.botania.common.block.BlockManaVoid=false
    B:vazkii.botania.common.block.BlockOpenCrate=false
    B:vazkii.botania.common.block.BlockRFGenerator=false
    B:vazkii.botania.common.block.BlockStorage=false
    B:vazkii.botania.common.block.BlockTurntable=false
    B:vazkii.botania.common.block.decor.BlockCustomBrick=false
    B:vazkii.botania.common.block.decor.BlockPrismarine=false
    B:vazkii.botania.common.block.decor.BlockSeaLamp=false
    B:vazkii.botania.common.block.decor.BlockThatch=false
    B:vazkii.botania.common.block.decor.quartz.BlockSpecialQuartzSlab=false
    B:vazkii.botania.common.block.decor.slabs.BlockReedSlab=false
    B:vazkii.botania.common.block.decor.slabs.BlockThatchSlab=false
    B:vazkii.botania.common.block.decor.slabs.bricks.BlockCustomBrickSlab=false
    B:vazkii.botania.common.block.decor.slabs.bricks.BlockSnowBrickSlab=false
    B:vazkii.botania.common.block.decor.slabs.bricks.BlockSoulBrickSlab=false
    B:vazkii.botania.common.block.decor.slabs.bricks.BlockTileSlab=false
    B:vazkii.botania.common.block.decor.slabs.living.BlockDreamwoodPlankSlab=false
    B:vazkii.botania.common.block.decor.slabs.living.BlockDreamwoodSlab=false
    B:vazkii.botania.common.block.decor.slabs.living.BlockLivingrockBrickSlab=false
    B:vazkii.botania.common.block.decor.slabs.living.BlockLivingrockSlab=false
    B:vazkii.botania.common.block.decor.slabs.living.BlockLivingwoodPlankSlab=false
    B:vazkii.botania.common.block.decor.slabs.living.BlockLivingwoodSlab=false
    B:vazkii.botania.common.block.decor.slabs.prismarine.BlockDarkPrismarineSlab=false
    B:vazkii.botania.common.block.decor.slabs.prismarine.BlockPrismarineBrickSlab=false
    B:vazkii.botania.common.block.decor.slabs.prismarine.BlockPrismarineSlab=false
    B:vswe.stevescarts.Blocks.BlockActivator=false
    B:vswe.stevescarts.Blocks.BlockCargoManager=false
    B:vswe.stevescarts.Blocks.BlockCartAssembler=false
    B:vswe.stevescarts.Blocks.BlockDetector=false
    B:vswe.stevescarts.Blocks.BlockDistributor=false
    B:vswe.stevescarts.Blocks.BlockLiquidManager=false
    B:vswe.stevescarts.Blocks.BlockMetalStorage=false
    B:vswe.stevesfactory.blocks.BlockCable=false
    B:vswe.stevesfactory.blocks.BlockCableBUD=false
    B:vswe.stevesfactory.blocks.BlockCableBreaker=false
    B:vswe.stevesfactory.blocks.BlockCableCreative=false
    B:vswe.stevesfactory.blocks.BlockCableInput=false
    B:vswe.stevesfactory.blocks.BlockCableIntake=false
    B:vswe.stevesfactory.blocks.BlockCableOutput=false
    B:vswe.stevesfactory.blocks.BlockCableRelay=false
    B:vswe.stevesfactory.blocks.BlockCableSign=false
    B:vswe.stevesfactory.blocks.BlockManager=false
    B:"xreliquary.blocks.BlockAlkahestryAltar$BlockActiveAlkahestryAltar"=false
    B:"xreliquary.blocks.BlockAlkahestryAltar$BlockIdleAlkahestryAltar"=false
}


settings {
    B:enableWrench=false
}


